<div class="mt-4">
  <form>
    <div class="form-group">
      <label for="search-input">Từ khoá</label>
      <input type="text" name="q" class="form-control" id="input-search" placeholder="Nhập từ khoá tìm kiếm">
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>